* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

/* Layout */

#cabecalho {
    background: #f7b600;
    text-align: center;
    padding: 15px;
}

#logo, #menu {
    padding: 10px;
}

#principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    width: 660px;
    float: left;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#lateral {
    width: 240px;
    float: right;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted;
}

#rodape {
    background: #CCC;
    clear: both;
    padding: 15px;
    text-align: center;
}

/* Formatação do menu */

a {
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited { 
    color: #f7b600;
}
    
a:hover {
    text-decoration: underline;
}

#cabecalho a:link,  #cabecalho a:visited { 
/* Limita essa formatacao apenas aos links do cabecalho */
    color: white;
    padding: 8px 12px;
}

#cabecalho a:hover {
    color: #f7b600;
    background: white;
    text-decoration: none;
}

/* Formatações gerais */
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;

}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.branco { 
    color: white;
}

.data-postagem{
    font-size: 0.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}